body {
    margin: 0px;
    background-color: #1f2937;
}

/* This is Header Style */

.header {
    font-family: serif;
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}

.header-logo {
    font-size: 24px;
}

.links {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 16px;
}

/* This is Hero Style */

.hero {
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    
}

.hero-left {
    max-width: 400px;
    padding: 16px;
}
.hero-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    display: flex;
    align-items: flex-start;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 16px;
}

.hero-image {
    height: 200px;
    width: 400px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    font-size: 16px;
    border-radius: 12px;
}

.hero-button {
    margin-top: 16px;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 20px;
    padding: 12px 24px;
    border-radius: 12px;
    border-color: #3882f6;
}

/* Style for Information Section */

.information {
    display: flex;
    background-color: #f9faf8;
    align-items: center;
    justify-content: center;
}

.info-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    padding: 16px;
    border-width: 10px;
    border-color: #3882f6;
    border-style: solid;
    border-radius: 12px;
    margin: 16px;
}

.info-title {
    margin-top: 60px;
    padding-top: 40px;
    padding-bottom: 16px;
    background-color: #f9faf8;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.info-text {
    margin-bottom: 75px;
}

.info {
    margin: 16px;
    max-width: 200px;
}

/* Quote Section Styling */

.quote {
    padding: 100px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quotetext {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    margin: 16px;
}

.quoteauthor{
    font-size: 28px;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
}

/* Call to Action Styling Section */

.action {
    padding: 100px;
    background-color: #f9faf8;
}

.callbox {
    display: flex;
    align-items: center;
    padding: 30px;
    background-color: #3882f6;
    border-radius: 12px;
}

.call-title {
    font-size: 28px;
    color: #f9faf8;
}

.call-text {
    color: #e5e7eb;
    font-size: 22px;
}

.call-button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 20px;
    padding: 12px 24px;
    border-radius: 12px;
    border-color: #f9faf8;
    margin-left: 300px;
}

/* Styling for Footer */

.footer {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
}
